.header
  .intro
    .row
      .small-9.columns
        #George
          %h1 George Somerville
        .small-intro  
          %h3 This is my site...
.main
  %section
    .info-container
      .row 
        %h2
          About me
        %h4
          I'm a Developer with a strong interest in design and creativity.
      .row
        .medium-3.columns
          %img{src: "/assets/ruby-on-rails.png"}
          //image
          %h4 Magic & Rails
        .medium-3.columns
          / %img{src: "/assets/"}
          %h3 Beer & Friends
        .medium-3.columns
          // image
          %h3 Big Data & APIS
          %p I like to use a alot javascirpt and mashing together lots of API's to create cool new things.
        .medium-3.columns
          // image
          %h3 Gym & Fitness
          %p because i cannot sit on my arse all day. 

  %section{style: "height: 300px;"}
    .stack-container
      .row
        .small-12.columns
        %h2
          My Stack
        %ul
          %li
            %img{src: "/assets/rails-logo.png" , style:"width:80px; height:90px"}
          %li
            %img{src: "/assets/backbone-logo.png", style:"width:80px; height:90px"}
          %li
            %img{src: "/assets/haml_logo.png", style:"width:80px; height:90px"}
          %li 
            %img{src: "/assets/javascript.png", style:"width:80px; height:90px"}
          %li
            %img{src: "/assets/sass-logo.png", style:"width:80px; height:90px"}
          %li 
            %img{src: "/assets/git-logo.png", style:"width:80px; height:90px"} 
           
  %section 
    .ga-projects-container
      .row
        .small-12.columns
          %h2 GA Projects  
      .row
        .small-8.columns
          %h3 Budgie Backpackers
          %p Budgie Backpackers enables travellers on a budget to find the cheapest hostels/hotels within a searched city or current location. They can also find various attractions via a search term and see who’s checking as well as reviews. Finally they will also be able to pickup any discounts or deals within a searched area (work in progress)
        .small-4.columns
          %a{href: "http://budgie-backpackers-1992.herokuapp.com/"}
            %img{src: "assets/budgiebackpackers.png", style: "width:240px; height:240px;"}
      .row
        .small-8.columns
          %h3 Music App
          %p A music sharing website where artists can create profiles and share songs. This was the first app I developed and I use it as a great reminder of how far I have come as a developer. I made this app using Ruby on Rails, HTML 5 and CSS 3.
        .small-4.columns
          %a{href: "http://george-1992-project-one.herokuapp.com/"}
            %img{src: "assets/musicapp.png", style: "width:240px; height:240px;"}  

