                     
/ :javascript
/   var wow = new WOW(
/   {
/   boxClass:     'wow',      // animated element css class (default is wow)
/   animateClass: 'animated', // animation css class (default is animated)
/   offset:       0,          // distance to the element when triggering the animation (default is 0)
/   mobile:       true,       // trigger animations on mobile devices (default is true)
/   live:         true        // act on asynchronously loaded content (default is true)
/   }
/   );
/   wow.init();
.header
  %section
    .intro
      .row
        .small-6.columns.scrollblock#title1
          #George.wow.rotateInDownLeft
            %a{:name => "home"}
            %h1.animated.bounceInDown#title1 George Somerville
        .small-6.columns    
          #small-intro  
            %h3
              #text-element-one Welcome
              #text-element-two to my
              %h2#texthide fabulous
              %h2#texthide funky
              %h2#texthide bright
              %h2#texthide happy 
              %h2#texthide orange
              %h2#texthide fun
              Site          
.main
  %section
    .info-container
      .row.small-padding
        %a{:name => "aboutMe"}
        %h2{"data-magellan-destination" => "aboutMe"} About Me
      .row.small-padding
        %h4 I am a Developer with a strong interest in design and creativity.
      .row.small-padding
        .medium-3.columns
          %h4 Magic & Rails
          .image-container.small-padding
            %img{src: "/assets/ruby-on-rails.png"}
          %p Automation, scaffolding, Gems and Rails Casts. What more could you want? I'm currently reading the Rails 4 way by Obie Fernandez. 
        .medium-3.columns
          %h4 Beer & Friends
          .image-container.small-padding
            %img{src: "/assets/beer.png"}
          %p I thrive off working as part of a team and get a real buzz in sharing my ideas with people.
        .medium-3.columns
          %h4 Big Data & Api's
          .image-container.small-padding
            %img{src: "/assets/data-apis.png"}
          %p I love Javascript and creating cool things by mashing API's together, especially with Google maps.
        .medium-3.columns
          %h4 Gym & Fitness
          .image-container.small-padding
            %img{src: "/assets/gym.png"}
          %p Staying fit and active is just as important as sitting at a screen all day.

  %section
    .stack-container
      .row
        .small-12.columns
        %h2
          My Stack
        %ul
          %li
            %img.animateFlip.animated.bounceInDown{src: "/assets/rails-logo.png", style:"width:80px; height:90px"}
          %li
            %img.tada-animate{src: "/assets/angular-js-logo.png", style:"width:80px; height:90px"}
          %li
            %img{src: "/assets/haml_logo.png", style:"width:80px; height:90px"}
          %li 
            %img.wobble-animate{src: "/assets/javascript.png", style:"width:80px; height:90px"}
          %li
            %img{src: "/assets/sass-logo.png", style:"width:80px; height:90px"}
          %li 
            %img.lightspeed-in-animate{src: "/assets/git-logo.png", style:"width:80px; height:90px"} 
           
  %section{style: "height:100%"}
    .ga-projects-container
      .row
        .small-12.columns
          %a{:name => "projects"}
          %h2 GA Projects  
      .row.small-padding
        .small-8.columns
          %h3 Budgie Backpackers
          %p Budgie Backpackers enables travellers on a budget to find the cheapest hostels/hotels within a searched city or current location. They can also find various attractions via a search term and see who’s checking as well as reviews. Finally they will also be able to pickup any discounts or deals within a searched area (work in progress)
        .small-4.columns
          .img-container-project
            %a{href: "http://budgie-backpackers-1992.herokuapp.com/"}
              %img{src: "assets/budgiebackpackers.png"}
      .row.small-padding
        .small-8.columns
          %h3 Music App
          %p A music sharing website where artists can create profiles and share songs. This was the first app I developed and I use it as a great reminder of how far I have come as a developer. I made this app using Ruby on Rails, HTML 5 and CSS 3.
        .small-4.columns
          .img-container-project
            %a{href: "http://george-1992-project-one.herokuapp.com/"}
              %img{src: "assets/musicapp.png"}  
      .row.small-padding
        .small-8.columns
          %h3 Wifinder        
          %p  Create and save your Wifi networks, view friends networks and share networks with your friends. This was my second project which I developed different parts of it within a group. I was task with developing the layout, homepage and creating animation using CSS3 and javascript. 
        .small-4.columns 
          .img-container-project
            %a{href: "http://mighty-springs-1118.herokuapp.com/"}
              %img{src: "assets/wifinder.png"}  
  %section{style: "height:100%"}
    .ga-projects-selfstudy-container
      .row
        .small-12.columns
          %h2 Self study projects
          %h4 Some designs I've created in my Spare time
      .row.small-padding
        .small-8.columns
          %h3 Robot Movement
          %p A small project/game I created using pure Javascript in my spare time. It uses a grid system and a marker which is moveable via directional buttons.This was a real challenge as a great deal of logic was used unlike my previous projects. I enjoyed creating it and I am currently adding some cool features and looking at expanding its functionality.    
        .small-4.columns 
          .img-container-project
            %a{href: "http://obscure-shelf-3700.herokuapp.com/"}
              %img{src: "assets/robot-movement.png"}   
      .row.small-padding
        .small-8.columns
          %h3 Tic-Tac-Toe
          %p One of the other options for our first project at GA was to create a Tic-Tac-Toe app. I decided to create this in my spare time using Ruby on rails and Javascript. 
        .small-4.columns
          .img-container-project
            %a{href: "http://obscure-shelf-3700.herokuapp.com/"}
              %img{src: "assets/tictactoe.png"}  
      .row.small-padding
        .small-8.columns
          %h3 Other Self Study Designs/projects
          %p A collection of projects made within my spare time using adobe Dreamweaver and Fireworks, code available on request. 
        .small-4.columns
          .img-container-project
            %a{href: "http://obscure-shelf-3700.herokuapp.com/"}
              %img{src: "assets/designs.png"}   
  %section
    .contact-container
      .row
        .small-12.columns 
          %h2 Contact
          %a{:name => "contact"}
      .row
        .small-6.columns
          %ul 
            %li
              %h3 
                %img.flash-animate{src: "assets/user.png"}
                George Somerville
            %li
              %h3 
                %img.tada-animate{src: "assets/phone.png"}
                07990073642
            %li
              %h6 
                %img.lightspeed-in-animate{src: "assets/email.png"}
                georgesomerville1992@gmail.com
        .small-6.columns
          %ul
            %li
              %h3
                %img.rotate-github-animate{src: "assets/github.png"}
                %a#linkFont{href: "https://github.com/GeorgeSomerville1992"} github
            %li
              %h3
                %img.rotate-linkedin-animate{src: "assets/linkedin.png"}
                %a#linkFont{href: "https://www.linkedin.com/in/georgesomerville1992"} linkedin
            %li
              %h3
                %img.rotate-tumbler-animate{src: "assets/tumblr.png"}
                %a#linkFont{href: "https://www.tumblr.com/blog/georgesomerville1992"} tumblr         



          


