.header
  .intro
    .row
      .small-9.columns
        #George
          %h1 George Somerville
        .small-intro  
          %h3 This is my site...
.main
  %section
    .info-container
      .row 
        %h2
          About me
        %h4
          I'm a Developer with a strong interest in design and creativity.
      .row
        .medium-3.columns
          //image
          %h3 something goes here
        .medium-3.columns
          //image
          %h3 something goes here
        .medium-3.columns
          // image
          %h3 something goes here
        .medium-3.columns
          // image
          %h3 something goes here

  %section
    .stack-container
      .row
        %h2
          My Stack
        .medium-3.columns
          //image
          %h3 something goes here
        .medium-3.columns
          //image
          %h3 something goes here
        .medium-3.columns
          // image
          %h3 something goes here
        .medium-3.columns
          // image
          %h3 something goes here    
  %section 
    .ga-projects-container
      .row
        %h2
          GA Projects  

